.checkout-form input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: inherit;
}

.checkout-form input:focus {
  outline: none;
}

.checkout-page {
  padding: 80px 40px 120px;
  color: #000;
}

/* GRID LAYOUT */
.checkout-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1400px;
  margin: 0 auto;
  gap: 80px;
}

/* LEFT COLUMN */
.checkout-left {
  display: flex;
  align-items: flex-start;
}

.checkout-title {
  font-size: 2.5rem;
  font-weight: 500;
}

/* RIGHT COLUMN */
.checkout-right {
  max-width: 640px;
}

/* FORM */
.checkout-form {
  width: 100%;
  align-items: center;
}

.checkout-section {
  margin-bottom: 40px;
}

.checkout-section h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 12px;
}

/* INPUTS */
.checkout-form input[type="text"],
.checkout-form input[type="email"] {
  width: 100%;
  border: 1px solid #000;
  padding: 12px 14px;
  font-size: 0.9rem;
  margin-bottom: 14px;
  background: transparent;
  color: #000;
}

.checkout-form input::placeholder {
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  color: #000;
  opacity: 0.6;

}

/* ROWS */
.row {
  display: grid;
  gap: 14px;
}

.row.two {
  grid-template-columns: 1fr 1fr;
}

.row.three {
  grid-template-columns: 1fr 1fr 1fr;
}

/* CHECKBOX */
.save-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  margin-top: 6px;
}

/* PAY BUTTON */
.pay-button {
  margin-top: 60px;
  width:600px;
  height:130px;
  padding: 22px;
  font-size:2.5rem;
  border: 2px solid #424242;
  background: transparent;
  border-radius: 500px/110px;
  cursor: pointer;
  color: #000;
}

.pay-button:hover {
  background: #000;
  color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  .checkout-page {
    padding: 40px 16px 80px;
  }

  .checkout-layout {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .checkout-title {
    font-size: 2rem;
  }

  .checkout-right {
    max-width: 100%;
  }

  .pay-button {
    font-size: 1.3rem;
    padding: 18px;
  }
}

