.checkout-page *,
.checkout-page *::before,
.checkout-page *::after {
  box-sizing: border-box;
}
.checkout-form input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: inherit;
}

.checkout-form input:focus {
  outline: none;
}

.checkout-page {
  padding: 40px 40px 100px;
  height:100vh;
}

/* GRID LAYOUT */
.checkout-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width:100%;
  margin: 0 auto;
  gap: 80px;
}

/* LEFT COLUMN */
.checkout-left {
  display: flex;
  align-items: flex-start;
}

.checkout-title {
  font-size: 2.6rem;
  font-weight: 500;
}

/* RIGHT COLUMN */
.checkout-right {
  padding-left:190px;
  max-width:85%;
}

/* FORM */
.checkout-form {
  width:100%;
  align-items: center;
}

.checkout-section {
  margin-bottom:25px;
}

.checkout-section h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 12px;
}

/* INPUTS */
.checkout-form input[type="text"],.checkout-form input[type="number"],
.checkout-form input[type="email"] {
  width: 100%;
  border: 1px solid #989898;
  padding: 10px 14px;
  font-size: 0.8rem;
  margin-bottom: 12px;
  background: transparent;
  color: #000;
}

/* RESTORE CHECKBOX */
.checkout-form input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: checkbox;
  width: 25px;
  height: 25px;
  cursor: pointer;
  accent-color: #000;
}


.checkout-form input::placeholder {
  font-family:"MashiFontBold";
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  color: #000;

}

/* ROWS */
.row {
  display: grid;
  gap: 14px;
}

.row.two {
  grid-template-columns: 1fr 1fr;
}

.row.three {
  grid-template-columns: 1fr 1fr 1fr;
}

/* CHECKBOX */
.save-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  margin-top: 6px;
}

/* PAY BUTTON */
.pay-button {
  margin-top:40px;
  width:100%;
  height:130px;
  padding: 22px;
  font-size:3.5rem;
  border: 2px solid #424242;
  background: transparent;
  border-radius: 500px/120px;
  cursor: pointer;
  color: #000;
}
/* MOBILE */
@media (max-width: 768px) {
  .checkout-page {
    padding: 20px 16px 80px;
  }

  .checkout-section{
    margin-bottom:10px;
  }

  .checkout-layout {
    grid-template-columns: 1fr;
    gap:20px;
  }

  .checkout-title {
    font-size: 2.3rem;
  }
   
  .checkout-right {
    max-width:100%;
    padding-left:0;
  }

  .checkout-section h2 {
  font-size: 1.2rem;
  font-family:"MashiFontBold";
}

.checkout-form input::placeholder {
  font-family:"MashiFont";
  font-size: 0.65rem;
  letter-spacing: 0.04em;
  color: #000;

}
.pay-button {
  font-family:"MashiFont";
  margin-top:30px;
  width:99%;
  height:105px;
  padding: 22px;
  font-size:2.5rem;
  border: 2px solid #424242;
  background: transparent;
  border-radius: 800px/250px;
  cursor: pointer;
  color: #000;
}

.checkout-form input[type="text"],.checkout-form input[type="number"],
.checkout-form input[type="email"] {
  padding: 15px 14px;
  
}
}







